.user-item {
  display: flex;
  margin-bottom: 14px;
  background: #ffffff;
  box-shadow: var(--shadow);
  border-radius: 8px;
  padding: 14px;
}

.user-info {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.full-name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 4px;
}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
}
