:host {
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 5px solid #b1b9db;
  border-bottom-color: var(--primary);
  animation-name: spinner;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  margin: 0 auto;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
